.oc
.DS_Store
.claude
.vscode
.cursor

Backend/CLAUDE.md
Backend/database_test.sqlite
Backend/database_dev.sqlite
Backend/node_modules/
Backend/coverage/
Backend/public


Frontend/CLAUDE.md
Frontend/node_modules
Frontend/coverage
Frontend/.idea

