.content {
  margin-left: 76px;
  margin-right: 76px;
  margin-top: 76px;
  width: 100%;
}

.content-inner {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  margin-top: 20px;
  min-height: 100vh;
  padding: 50px;
}

.content-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

#btn-new-bill {
  background-color: #0E5AE5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.2px;
  line-height: 26px;
  width: 350px;
}

#data-table {
  border: 2px solid #F3F5FA;
  border-radius: 10px;
  box-sizing: border-box;
  height: 70vh;
  margin-top: 50px;
  padding-bottom: 16px;
  text-align: left;
}

#example {
  width: 100%;
}

.icon-actions {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.table td, .table th {
  border-top: 0 solid #fff !important;
}

.table thead th {
  border-bottom: 0 solid #fff !important;
}

thead {
  text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color:#F3F5FA !important;
}

th, td {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

tr td:first-of-type {
  font-weight: 500;
}

tr td:nth-of-type(2) {
  color: #0E5AE5;
  font-weight: 500;
}

tr td:nth-of-type(3) {
  color:#979797;
}

tr td:nth-of-type(4) {
  color:#979797;
}

tr td:nth-of-type(5) {
  color: #0E5AE5;
  font-weight: 500;
}

.bill-proof-container {
  overflow: scroll;
  text-align: center;
}
