.dashboard-content {
  display: flex;
  justify-content: space-between;
}

.dashboard-right-container {
  border: 2px solid #F3F5FA;
  border-radius: 10px;
  box-sizing: border-box;
  left: 530px;
  min-height: calc(100% - 92px);
  padding: 23px;
  position: absolute;
  top: 50px;
  width: calc(100% - 550px);
}

.dashboard-form-container h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bills-feed {
  left: 120px;
  position: absolute;
  top: 52px;
  width: 390px;
}

.status-bills-container {
  max-height: 70vh;
  overflow-y: scroll;
}

.status-bills-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.status-bills-container h3 {
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.bill-card {
  background: #0D5AE5;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.2px;
  line-height: 25px;
  margin-bottom: 17px;
  margin-top: 17px;
  padding: 17px;
}

.bill-card-name-container {
  display: flex;
  justify-content: space-between;
}

.bill-card-name {
  font-size: 14px;
  font-weight: 500;
}

.bill-card-grey {
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.name-price-container {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  justify-content: space-between;
}

.date-type-container {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.centered-svg-container{
  display: flex;
  height: 100vh;
  place-content: center;
}

#big-billed-icon {
  margin-top: 100px;
  text-align: center;
}

.dashboard-svg-container {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%,-40%);
}

.arrow-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: -4px;
  min-height: 24px;
  min-width: 24px;
  padding: 4px;
  pointer-events: auto;
  transform: rotate(90deg);
}

.status-bills-header h3 {
  pointer-events: none;
  user-select: none;
}

.status-bills-header .arrow-icon svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.status-bills-container + .status-bills-header {
  margin-top: 20px;
}
