.dashboard-form label{
  margin-top: 20px;
}

.input-field {
  align-items: center;
  background: #f9f9f9;
  border-radius: 5px;
  color: #0D5AE5;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  padding: 20px;
}

.input-flex{
  display:flex;
  justify-content: space-between;
}

.textarea-field{
  background: #f9f9f9;
  border-radius: 5px;
  color: #0D5AE5;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 300px;
  line-height: 15px;
  overflow-y: auto;
  padding: 20px;
}

#vat-flex-container {
  display: flex;
  justify-content: space-between;
}

.vat-flex {
  width: 45%;
}

.file-flex {
  background: #0D5AE5;
  border: 2px solid #0D5AE5;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  max-width: 450px;
  min-width: 325px;
  opacity: 0.5;
}

.icons-container span {
  margin: 8px;
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  max-width: 300px !important;
  width: 300px;
}

.buttons-flex button{
  background-color: #0D5AE5;
  width: 100px !important;
}

#icon-eye-d {
  cursor: pointer;
}

#icon-download-d {
  cursor: pointer;
}

#file-name-admin {
  max-width: 300px;
}

.file-error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

.file-error-message p {
  margin: 0;
  padding: 0;
}

.modal-body > div {
  text-align: center;
}
