.noselect {
    user-select: none;
}

#datepicker-frame {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #000;
    color: #333;
    font: 16px Tahoma, sans-serif;
    height: 300px;
    position: absolute;
    width: 300px;
}

#datepicker-frame ul {
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

#datepicker-frame li {
    float: left;
    height: 40px;
    text-align: center;
    width: 220px;
}

#datepicker-frame li:first-child,
#datepicker-frame li:last-child {
    float: left;
    height: 40px;
    width: 40px;
}

#datepicker-frame table {
    border-collapse: collapse;
    margin: auto;
}

#datepicker-frame .day td,
#datepicker-frame .day th {
    border-radius: 4px;
    height: calc(300px / 8 - 2px);
    text-align: center;
    width: calc(300px / 7 - 2px);
}

#datepicker-frame .month td,
#datepicker-frame .month th {
    border-radius: 4px;
    height: calc(300px / 4 - 2px);
    text-align: center;
    width: calc(300px / 4 - 2px);
}

#datepicker-frame .disabled {
    color: #c8c8c8;
}

#datepicker-frame .today {
    background-color: #a0a0ff;
    color: #fff;
}

#datepicker-frame td:not(.disabled, .today):hover {
    background-color: #d0d0d0;
}

#datepicker-frame .pointer {
    cursor: pointer;
}
