.layout {
  display: flex;
}

.vertical-navbar {
  background-color: #0E5AE5;
  color: #fff;
  height: 120vh;
  width: 80px;
}

.layout-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  position: relative;
  top: 80px;
  transform: rotate(-90deg);
}

#layout-icon1 {
  position: relative;
  text-align: center;
  top: 170px;
}

#layout-icon2 {
  position: relative;
  text-align: center;
  top: 220px;
}

#layout-disconnect {
  bottom: 20px;
  cursor: pointer;
  left: 30px;
  position: fixed;
  text-align: center;
}

.active-icon {
  align-items: center;
  background-color: #7bb1f7;
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: auto;
  width: 40px;
}
