.page-div {
  margin: auto;
  margin-top: 10%;
  width: 80%;
}

.form-signin {
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

h2 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  position: relative;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.card-body{
  border-radius: 50px;
  margin-bottom: 50px;
}

.card {
  margin: auto;
  max-width: 500px;
}

label {
  padding-bottom: 8px;
  padding-top: 8px;
}

input {
  padding-bottom: 8px;
  padding-top: 8px;
}

.title-container {
  color: #fff;
  display: flex;
  margin: auto;
  width: 200px;
}

.title-container h1 {
  margin-bottom: 60px;
  margin-left: 16px;
}

button {
  background-color: #0E5AE5;
}

[data-testid="employee-login-button"],
[data-testid="admin-login-button"] {
  background-color: #0E5AE5;
}
