.form-newbill-container {
  width: 100%;
}

.col-half {
  margin: auto;
  margin-top: 16px;
  width: 75%;
}

.col-half-row {
  display: flex;
  margin-left: 20px;
  margin-top: 16px;
  width: 75%;
}

.blue-border {
  border: 2px solid #0D5AE5 !important;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.5;
}

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.flex-col {
  margin-left: 50px;
}

.white-text {
  color: #fff;
}

#btn-send-bill {
  background-color: #0E5AE5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 26px;
  margin-top: 50px;
  width: 100px;
}

textarea, input, select {
  color: #0E5AE5 !important;
  opacity: 0.7 !important;
}

textarea:focus, input:focus, select:focus {
  color: #0E5AE5 !important;
  opacity: 1 !important;
}

*[placeholder] {
  color: #0E5AE5 !important;
}

.file-error-message {
  color: #dc3545;
  display: block;
  font-size: 12px;
  margin-top: 4px;
  padding: 0;
}
